<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Home Page</title>
    <link href="../static/css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="container">
    <div class="top">
        <h1>Maharishi International University </h1>
        <nav>
            <ul>
                <li><a href="/adminDashBoard" >Admin</a></li>
                <li><a href="/getFacultyDashBoard">Faculty</a></li>
                <li><a href="/getStudentDashBoard">Student</a></li>
                <li><a href="/getStudentRegistrationForm">Apply</a></li>
                <li><a href="/login" class="active">login</a></li>
            </ul>
        </nav>

    </div>
    <div class="banner">
        <h2>Welcome To Magnificent</h2>
        <h1>MIU</h1>
        <h1>Where knowledge Is Structured In Consciousness</h1>
    </div>
</div><footer>&copy; 2021</footer>
</body>
</html>